body {
    background-color: grey;
    margin: 0;
}

header {
    background-color: lightgrey;
    color: black;
}

#todoContainer {
    background-color: black;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
}

.todoCard {
    background-color: white;
}