body {
    background-color: grey;
    margin: 0;
}

header {
    background-color: lightgrey;
    color: black;
    padding: 8px;
}

.projectBrowser {
    align-items: center;
    display: flex;
    gap: 8px;
}

.content {
    background-color: darkgrey;
    margin-top: 100px;
}

#addTodo {
    font-size: 14px;
    margin: 10px;
}

#projectSelector {
    font-size: 18px;
}

.projectBrowser button {
    height: 1.5rem;
}

.todoContainer {
    background-color: black;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
    padding: 8px;
}

/* Lowest to highest specificity for the card's background color */
.todoCard {
    background-color: lightyellow;
}

.todoCard.highPriority {
    background-color: orange;
}

.todoCard.lowPriority {
    background-color: lightblue;
}

.todoContainer>.todoCard.complete {
    background-color: green;
}